FLASK_ENV=development
FLASK_DEBUG=true
SECRET_KEY=change-me
API_KEY=change-me-api-key
BASE_URL=http://127.0.0.1:5001
MONGO_URI=mongodb://dbprojeto:3177@mongodb:27021/ragnarok?authSource=admin
LOG_BASE_URL=https://logcenter.dbpe.com.br
LOG_API_KEY=change-me-log-api-key
LOG_PROJECT_ID=change-me-project-id
